/* Features page style */
.background-layout {
    width: 100%;
    min-height: 100vh;
    background: #E7E0E0;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
  }
/* header copied from style.css */
.rectangle {
    width: 100%;
    height: 100px;
    flex-shrink: 0;
    background: rgba(0, 0, 0, 0.70);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0%;
}

/* Update the .rectangle class for other pages */
body:not(.landing) .rectangle {
    background: rgba(0, 0, 0, 1); /* Set the background opacity to 100% on other pages */
}

.translation {
    color: #FFF;
    font-family: Roboto, Arial, sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 39px;
    margin-left: 70px;
}

/* PidginPal logo */
.logo {
    width: 45px;
    height: 56px;
    flex-shrink: 0;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    position: absolute;
    top: 26px;
    left: 10px;
    font-weight: bolder;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add a box-shadow effect */
    filter: brightness(1.2) saturate(20); /* Adjust brightness and saturation */
}

.nav-link {
    color: #FFF;
    font-family: Roboto, Arial, sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none; /* Remove underline */
}

nav ul {
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 100px; /* Add 100px margin between each list item */
}

nav li:last-child {
    margin-right: 100px; /* Remove margin for the last list item */
}

.nav-link:hover {
    text-decoration: underline; /* Add underline on hover */
}

/* Add styles for active links on respective pages */
.nav-link.active {
    color: #213fda; /* Example: Change the text color to red */
    font-weight: bold;
}



  .rectangle-layout {
    width: auto;
    max-width: 1300px;
    height: auto;
    flex-shrink: 0;
    border-radius: 0px 30px 0px 0px;
    background: #FFF;
    box-shadow: 6px 6px 4px 4px rgba(22, 177, 38, 0.50);
    position: relative;
    top: 130px;
    left: 70px;
}
 
  /* Features page style */
  .text-layout {
    display: flex;
    flex-direction: column;
    width: 1209px;
    color: #000;
    text-align: justify;
    font-family: Roboto;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    top: 25px;
    margin-left: 45px;
    bottom: 55px;
}

.text-layout p {
    margin-bottom: -10px; /* Adjust the value as desired */
}


h2 {
    margin-bottom: -20px ;
    margin-top: 10px;
}

  /* footer */
  .rectangle-two {
    width: 100%;
    height: 100px;
    flex-shrink: 0;
    background: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 924px;
    left: 0;
}

.footer-img {
    margin-right: 30px; /* add margin between the images */
    vertical-align: middle;
}

/* Footer style */
.footer-copyright {
    color: #fff;
    font-family: Roboto, Arial, sans-serif;
    font-size: 32px;
    font-weight: 500;
    line-height: normal;
    margin: 10px 30px;
}

.footer-contact {
    color: #fff;
    font-family: Roboto, Arial, sans-serif;
    font-size: 32px;
    font-weight: 500;
    line-height: normal;
    margin-right: -350px;
    margin-top: 30px;
}


